@model Swishlist.Models.IndexViewModel
@{
    ViewBag.Title = "My Profile";
}

<div class="content-block content-block-list col-xs-12 col-sm-3">
  <ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Password", "ChangePassword")</li>
    <li>@Html.ActionLink("Connected Accounts", "ManageLogins")</li>
  </ul>
</div>

<div class="content-block content-block-padded col-xs-12 col-sm-8 col-sm-offset-1 ">
    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
        </dl>
    </div>
</div>
