@model Swishlist.Models.Wishlist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wishlist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WishlistToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WishlistToken)
        </dd>
    </dl>

    <h4>Items</h4>
    <hr />
    @Html.Partial("~/Views/WishlistItems/_Index.cshtml", Model.Items);
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
