@model Swishlist.Models.Wishlist

@{
    ViewBag.Title = "Details";

    ViewBag.HeroTitle = Model.Name;
    ViewBag.HeroSubtitle = "from " + Model.User.Name;
    Layout = "~/Views/Shared/_HeroLayout.cshtml";
}

<div class="content-block content-block-padded text-center">
  <h2>
    @Model.Name
    <small>@Model.User.Name</small>
  </h2>
  <h4>@Model.Description</h4>
  <p>
    @Html.DisplayFor(model => model.WishlistToken)
  </p>
</div>

@Html.Partial("~/Views/WishlistItems/_Index.cshtml", Model.Items)